core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
.idea/
tmp/
/doc/design/.$*.drawio.bkp
/doc/design/.*.drawio.dtmp
/analastock.code-workspace
/index.js.*
.env
.env-*
*creds.json
